extends layout

block content
  h1= title
  p This is the grid display page.

  if query.rows && query.cols
    - var rows = parseInt(query.rows, 10) || 0
    - var cols = parseInt(query.cols, 10) || 0

    p Displaying a grid of #{rows} rows and #{cols} columns:

    div.container
      each rowIndex in Array.from({ length: rows }, (_, i) => i)
        div.row
          each colIndex in Array.from({ length: cols }, (_, i) => i)
            div.col-sm-2(style="border: 1px solid black; padding: 10px; text-align: center;")
              p Grid Cell #{(rowIndex * cols) + colIndex + 1}

  else
    p No rows or columns specified in the query.
